
<div style="margin-top: 70px; margin-left: 10px;" class="row row-cols-xl-5 row-cols-md-4 row-cols-sm-3">
<div *ngFor="let product of products">
  <div class="col">
  <div class="card" style="width: 18rem; margin-bottom: 10px;">
    <img src="{{product.imageUrl}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description}}</p>
      <div>
        <p class="price-text">{{product.price}} ft</p>
        <button type="button" class="btn btn-outline-dark" (click)="onAdd(product)">Add to cart</button>
      </div>
    </div>
    </div>
    </div>
  </div>

</div>

<simple-notifications></simple-notifications>



